<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/v1/student/add" method="post">
        <input type="text" name="firstName">
        <input type="text" name="lastName">
        <input type="number" name="mobile">
        <input type="number" name="age" min="1" max="100">
        <input type="submit">
    </form>


    <% message?.forEach(element => { %>


        <h1><%= element.firstName %></h1>
     
    <% }) %>

  
    
</body>
</html>